@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url("partials/_variables.scss");


/* Header css */
.navbar{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.navbar a{
  color: $color_fuente !important;
}

.navbar img{
  height: 25px;
}

.navbar-toggler{
  background: blanchedalmond;
}

.bg-light{
  background: $color_default !important;
}

/* Main css */
body{
  background-image: url("https://cdn.dribbble.com/users/1862205/screenshots/5537727/pizza_flicker__dribbble__2.gif") !important;
  background-position: center;
}

.container{
  text-align: center;
}

.main-container{
  text-align: center;
}

.principal-banner{
  background-color: $color_secundario;
  position: relative;
  top: 150px;
}

.titulo-container h1{
  margin-top: 4rem;
  font-family: $fuente_principal;
  color: $color_fuente;
  text-decoration: underline 1.5px;
}

.article-container{
  margin-bottom: 6rem;
}

.food-article{
  margin-top: 6rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 340px;
  color: $color_default;
  background-color: rgba(255, 255, 255, 0.185);
}

.food-article img{
  position: relative;
  margin-top: 10px;
  height: 60%;
  width: 360px;
}

.opciones-container{
  background-color: $color_default;
  margin-bottom: 3rem;
}

.titulo-opciones{
  color: $color_fuente;
  font-family: $fuente_principal;
}

.lista-paginas{
  display: inline-flex;
}

.lista-paginas li{
  margin-left: 10px;
  margin-right: 10px;
}

.lista-paginas a{
  color: $color_fuente;
  font-family: $fuente_principal;
  font-weight: bold;
}

.sites-container{
  background-color: $color_default;
  height: 900px;
  margin-bottom: 3rem;
}

.articulo-site{
  padding-top: 9rem;
  margin-bottom: 2rem;
  color: $color_fuente;
}

.articulo-site iframe{
  border-radius: 5px;
}

/* Footer css */
footer{
  display: grid;
  height: 240px;
  width: 100%;
  place-items: center;
  background: $color_default;
}

.wrapper a{
  text-decoration: none;
}

.wrapper .button{
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 0 5px;
  overflow: hidden;
  background: $color_default;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px $color_default;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 100px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 30px;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover{
  background: $color_secundario;
}


.wrapper .button .icon{
  background: $color_secundario;
}


.wrapper .button .icon{
  background: $color_secundario;
}


.wrapper .button:hover .icon i{
  color: $color_secundario;
}
.wrapper .button span{
  font-size: 10px;
  font-weight: 500;
  line-height: 50px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button span{
  color: $color_secundario;
}
