@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


/* Header css */
.navbar{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.navbar a{
  color: aliceblue !important;
}

.navbar img{
  height: 25px;
}

.navbar-toggler{
  background: blanchedalmond;
}

.bg-light{
  background: rgb(0,0,0) !important;
}

/* Main css */
body{
  background-image: url("https://cdn.dribbble.com/users/1862205/screenshots/5537727/pizza_flicker__dribbble__2.gif") !important;
  background-position: center;
}

.container{
  text-align: center;
}

.main-container{
  text-align: center;
}

.principal-banner{
  background-color: red;
  position: relative;
  top: 150px;
}

.titulo-container h1{
  margin-top: 4rem;
  font-family: 'Raleway', sans-serif;
  color: aliceblue;
  text-decoration: underline 1.5px;
}

.article-container{
  margin-bottom: 6rem;
}

.food-article{
  margin-top: 6rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 340px;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.185);
}

.food-article img{
  position: relative;
  margin-top: 10px;
  height: 60%;
  width: 360px;
}

.opciones-container{
  background-color: rgba(99, 99, 99, 0.151);
  margin-bottom: 3rem;
}

.titulo-opciones{
  color: aliceblue;
  font-family: 'Raleway', sans-serif;
}

.lista-paginas{
  display: inline-flex;
}

.lista-paginas li{
  margin-left: 10px;
  margin-right: 10px;
}

.lista-paginas a{
  color: aliceblue;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

/* Footer css */
footer{
  display: grid;
  height: 240px;
  width: 100%;
  place-items: center;
  background: black;
}
.wrapper .button{
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 0 5px;
  overflow: hidden;
  background: rgb(0, 0, 0);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 100px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 30px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover{
  background: #E1306C;
}
.wrapper .button:nth-child(3):hover{
  background: #333;
}

.wrapper .button:nth-child(1) .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2) .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(3) .icon{
  background: #333;
}

.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #333;
}

.wrapper .button:hover .icon i{
  color: rgb(136, 136, 136);
}
.wrapper .button span{
  font-size: 10px;
  font-weight: 500;
  line-height: 50px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #E1306C;
}
.wrapper .button:nth-child(3) span{
  color: #333;
}